<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>ETA Bank</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='bootstrap.min.css')}}">
    
    
    <link rel="stylesheet" href="{{url_for('static',filename='fontawesome/css/all.min.css')}}" >   
    <!-- <link rel="stylesheet" href="..\static\fontawesome\css\all.min.css" >    -->
    <style>
      @font-face {
        font-family: Tajawal;
        src: url("{{url_for('static',filename='fonts/Tajawal/Tajawal-Bold.ttf')}}");
    }
    @font-face {
        font-family: Merriweather;
        src: url("{{url_for('static',filename='fonts/Merriweather/Merriweather-Bold.ttf')}}");
    }
    @font-face {
        font-family: Quicksand;
        src: url("{{url_for('static',filename='fonts/Quicksand/Quicksand-Regular.ttf')}}");
    }

   body{
    /* background-color: #E7E7EF; */
    height: 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgb(104, 145, 162), rgb(207, 230, 212));
}
.carousel .carousel-item {
  height: 250px;
}
.ad-carousel{
  background-color: #eee;
}
.carousel-caption{

  text-align: left;
  text-shadow: 1px 1px#eee;
}

/* .card{
  border:2px solid #003031;
} */

h5,h2{
  font-family:Tajawal,sans-serif;
}

.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 60%;
    margin:0% 20%;
}
.modal-dialog {
    display: table-cell;
    vertical-align: middle;
    border-radius: 20em;
  }

.modal-body h4,.modal-body h5{
  font-family: Merriweather,sans-serif;
  color:#006666;
}
.modal-body p,.modal-body li{
  font-family: Quicksand,sans-serif;
} 
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="/"><span class="badge badge-secondary"><i>EB</i></span>  ETA BANK</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/">Personal <span class="sr-only">(current)</span></a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link " href="#">Business</a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-bell"></i> <span class="badge badge-light">0</span></a>
          </li> -->
           <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             <i class="fas fa-sign-in-alt"></i> Login
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item loginmain"  href="">NetBanking</a>
              <!-- <a class="dropdown-item"  href="../templates/mutualfundslogin.html">Mutual Funds</a>
              <a class="dropdown-item"  href="../templates/demataccountlogin.html">Demat Account</a> -->
              <a class="dropdown-item"  href="/adminlogin">Admin Login</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/aboutus">About Us</a>
          </li>
    
        </ul>
    
    
      </div>
    
      </nav>
      <div class="ad-carousel">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
              <img class="d-block w-100 img-fluid" id="col-img" src="{{url_for('static',filename='family.jpg')}}" alt="First slide"></dic>

              <div class="carousel-caption d-none d-md-block">
                  <h5>EXTENDING PRIVELEGES TO</h5>
                  <h5>YOUR LOVED ONES</h5>
                  <hr style="height:1px;border:none;color:#333;background-color:#333;" />

                  <p>with the ETA Family Banking plans</p>
                  <!-- <button class="btn btn-light">Know more</button> -->
              </div>
            
            
          </div>
          <div class="carousel-item">
            <img class="d-block w-100 img-fluid" id="col-img" src="{{url_for('static',filename='offer2.jpg')}}" alt="Second slide">

            <div class="carousel-caption d-none d-md-block">
                <h5>VISIT NEW PLACES</h5>
                <h5>AND CREATE LASTING MEMORIES</h5>
                <hr style="height:1px;border:none;color:#333;background-color:#333;" />

                <p>With our holiday plan ,you also get 
                moratorium period</p>
                <!-- <button class="btn btn-light">Know more</button> -->
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100 img-fluid" id="col-img" src="{{url_for('static',filename='offer3.jpeg')}}" alt="Third slide">
            <div class="carousel-caption d-none d-md-block" >
                <h5>UPDATE YOUR </h5>
                <h5>NOMINATION DETAILS</h5>
                <hr style="height:1px;border:none;color:#333;background-color:#333;" />

                <p>Your family can get access to your account.</p>
                <!-- <button class="btn btn-light">Update</button> -->
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

    </div>
    <div  style="width:100%;height:50px;background-color:#C6CFD6">
      </div>

    </div>
      <div class="row" style="margin:10px 0">
          <div class="col-lg-3 col-sm-6">
              <div class="card" style="width: 100%;height:100%">
                <div class="card-body">
                  <h5 class="card-title">FIXED DEPOSITS</h5>
                  <p class="card-text">Get 12.5% interest on fixed deposit amount per annum.</p>
                </div>
          
                <div class="card-body d-flex align-items-end">
                    <button id="fdapply" class="btn btn-submit card-link">Apply</button>
                    <button id="fd" class="btn btn-info   card-link knowmore">Know more</button>
                  </div>
          </div>

            <!-- <h3 class="display-6">Mutual Funds SIP</h3>
            <p class="lead">Explore and invest in top  Mutual Funds through SIP</p>
            <hr style="height:1px;border:none;color:#333;background-color:#333;" />
            <a class="btn btn-light" href="#" role="button">BUY NOW</a> -->
        </div>
        <div class="col-lg-3 col-sm-6" >
            <div class="card" style="width: 100%;height:100%">
              <div class="card-body">
                <h5 class="card-title">REWARDS</h5>
                <p class="card-text">Get upto 100 reward points on each transaction.</p>
              </div>
        
              <div class="card-body d-flex align-items-end">
                  <button id="rewardapply" class="btn btn-submit card-link">Apply</button>
                  <button id="reward" class="btn btn-info   card-link knowmore">Know more</button>
                </div>
        </div>
            <!-- <h3 class="display-6">PERSONAL LOANS</h3>
            <p class="lead">Explore and invest in top  Mutual Funds through SIP</p>
            <hr style="height:1px;border:none;color:#333;background-color:#333;" />
            <a class="btn btn-light" href="#" role="button">APPLY</a> -->
        </div> 
            <div class="col-lg-3 col-sm-6" >
                <div class="card" style="width: 100%;height:100%">
                  <div class="card-body">
                    <h5 class="card-title">CREDIT CARDS</h5>
                    <p class="card-text">Extreme convenience, unmatched benefits and jaw-dropping discounts await you with each ETA Bank credit card.</p>
                  </div>
            
                  <div class="card-body d-flex align-items-end">
                      <button  class="btn btn-submit card-link cardapply">Apply</button>
                      <button id="credit" class="btn btn-info   card-link knowmore">Know more</button>
                    </div>
            </div>
            <!-- <h3 class="display-6">CREDIT CARDS</h3>
            <p class="lead">Explore and invest in top  Mutual Funds through SIP</p>
            <hr style="height:1px;border:none;color:#333;background-color:#333;" />
            <div>
            <a class="btn btn-light " href="#" role="button">APPLY</a>
            </div> -->
        </div>
        <div class="col-lg-3 col-sm-6" >
            <div class="card" style="width: 100%;height:100%">
              <div class="card-body">
                <h5 class="card-title">SAVINGSMAX <span class="badge badge-secondary"> NEW</span></h5>
                <p class="card-text">Save up to Rs. 6170* when you open a Savings Account with ETA Bank</p>
              </div>
        
              <div class="card-body d-flex align-items-end">
                  <button href="" class="btn btn-submit card-link loginmain">Apply</button>
                  <button id="savings" class="btn btn-info   card-link knowmore">Know more</button>
                </div>
        </div>
            <!-- <h3 class="display-6">APEX CARD <span class="badge badge-secondary"> NEW</span>
            <p class="lead">ETA Bank prepaid APEX Cards offer a safe, easy, and cashless way to carry foreign currency.</p>
              <hr style="height:1px;border:none;color:#333;background-color:#333;" />
            <a class="btn btn-light " href="#" role="button">Learn more</a> -->
        </div>
      </div>

    <div class="card">
      <div class="card-body text-center" style="background-color: #C6CFD6">
      <h2 > OFFERS FOR YOU </h2>
      <hr style="height:1px;border:none;color:#333;background-color:#333;width:50%" />
    </div>
      </div>
      <div class="row" style="margin:10px">
        <div class="col-lg-3 col-sm-6">
      <div class="card" style="width: 100%;height:100%">
        <img class="card-img-top" src="{{url_for('static',filename='tennis.jpg')}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">WATCH TENNIS WITH EXTRAORDINARY WEEKENDS</h5>
          <p class="card-text">Watch top tennnis players content for most coveted grand slam title.</p>
        </div>
        <div class="card-body d-flex align-items-end">
          <a href="" class="card-link loginmain">Apply Now</a>

        </div>
      </div>
      </div>
      
      <div class="col-lg-3 col-sm-6">
          <div class="card" style="width: 100%;height:100%">
            <img class="card-img-top" src="{{url_for('static',filename='downpayment.jpg')}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">CAR WITH ETA BANK CARD</h5>
              <p class="card-text">Now bring home your favourite car with exiting offers and 0% downpayment with ETA bank cards.</p>           </div>
      
            <div class="card-body d-flex align-items-end">
              <a href="" class="card-link loginmain">Apply Now</a>
            </div>
      </div>
      </div>
      <div class="col-lg-3 col-sm-6">
      <div class="card" style="width: 100%;height:100%">
        <img class="card-img-top" src="{{url_for('static',filename='amazon.jpg')}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">GET AMAZON VOUCHERS WORTH Rs 1780*</h5>
          <p class="card-text">Register refer and transact on apex to win the voucher.</p>
        </div>
        <div class="card-body d-flex align-items-end">
          <a href="" class="card-link loginmain">Apply Now</a>
        </div>
      </div>
      </div>
      <div class="col-lg-3 col-sm-6">
          <div class="card" style="width: 100%;height:100%">
            <img class="card-img-top" src="{{url_for('static',filename='pepperfry.jpeg')}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">40% OFF WITH ETA BANK CARDS</h5>
              <p class="card-text">Bring home your dream furniture with exciting offers with ETA Bank cards.</p>
            </div>
      
            <div class="card-body d-flex align-items-end">
              <a href="" class="card-link loginmain">Apply Now</a>
            </div>
          </div>
          </div>
    </div>
    <div class="modal fade" id="dataModal" role="dialog">  
        <div class="vertical-alignment-helper">
                <div class="modal-dialog">  
                
                <!-- Modal content-->  
                <div class="modal-content ">  
                    
                    <div class="modal-body ">  
                      </div>
                    <div class="modal-footer"> 
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>  
                </div>  
                    
                </div>  
            </div>	
    </div>
    <hr class="my-4">
    <!-- Footer -->
<footer class="page-footer font-small blue pt-4 mt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
  
          <!-- Content -->
          <h5 class="text-uppercase">Contact Us</h5>
          <ul>
            <li>Call: 188900-41989-5959
                to get your Account Balance</li>
            <li>Call: 180890-419-696989 
                to get your Mini Statement</li>
            <li>Find your Nearest</li>
            <li>Complaints and Grievance Redressal</li>
            <li>Banking Ombudsman Scheme, 2006</li>
            <li>Comprehensive Notice Board</li>
            <li>Aadhaar Enrolment Centres</li>    
        <li>Services for customers with disabilities</li>    
        </ul>
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-6 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase">Quick Links</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="" class="footertags">KYC Information</a>
            </li>
            <li>
              <a href="" class="footertags">FAQS</a>
            </li>
            <li>
              <a href="" class="footertags">Carrers</a>
            </li>
            <li>
              <a href="" class="footertags">Download forms</a>
            </li>
            <li>
                <a href="" class="footertags">Donot call  registry</a>
              </li>
              <li>
                <a href="" class="footertags">Social Media <i class="fab fa-facebook-f"></i> <i class="fab fa-linkedin"></i> <i class="fab fa-twitter"></i></a>
              </li>
              <li>
                <a class="footertags" href="">ThoughFactory</a>
              </li>
              <li>
                <a class="footertags"href="">Premise of Branch</a>
              </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="/"> etabank.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
<script src="{{url_for('static', filename='jquery.min.js')}}" ></script>
<script src="{{url_for('static', filename='popper.min.js')}}" ></script>
<script src="{{url_for('static', filename='bootstrap.min.js')}}" ></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script> -->

<script>


    // var txtUsername = "";
    // $.get("/getUName.py", function (data, status) {
    //     try {
    //         txtUsername = JSON.parse(data).username.trim();
    //     } catch (err) {
    //         // i'm lazy;
    //     }
    // });






    $('.carousel').carousel({
  interval: 3000
})

$('.footertags').click(function(event){
  event.preventDefault();
});

$(".knowmore").click(function(event){
  event.preventDefault();
  let content = ''; 
  if($(this).attr('id') === "fd"){
    content = `
    <h4>Fixed Deposits</h4>
    <hr>
    <p>Opt for a Fixed Deposit Account and let your savings grow for 7 days or a decade!</p>
    <h5>Interest Rates</h5>
    <p>Earn attractive interest for various tenures on your deposits</p>
    <h5>Minimum Balance</h5>
    <p>You can avail of ETA Bank Fixed Deposits for a minimum deposit of Rs 500 for General Customers.</p>
    `;
  }
  
  if($(this).attr('id') === "reward"){
    content = `
    <h4>ETA Bank Rewards</h4>
    <hr>
    <p>Earn upto 100 reward points per transaction done.1 Reward point is equal to Rs 1 and
    can  be redeemed as cashback</p>
    <h5>Reward Points</h4>
    <p> For Transaction upto Rs 10,000 - get upto 50 reward points</p>
    <p> For Transaction above Rs 10,000 - get upto 100 reward points</p>
    `;
  }

  if($(this).attr('id') === "credit"){
    content = `
    <h4>Credit Cards</h4>
    <hr>
    <ul>
    <li> 2 X Reward Points on online spends.Effective 1st July'2017</li>
    <li> EasyEMI and e-wallet loading transactions will not accrue Reward points.</li>
    <li> Reward points accrued will be reversed if a retail transaction is converted into SmartEMI. </li>
      <li>Reward points accrued for Insurance transactions will have a maximum cap of 2,000 per transaction.</li>
      <li>Zero Lost Card liability post reporting of the loss of card</li>
    </ul>
    `;

  }

  if($(this).attr('id') === "savings"){
    content = `
    <h4>Savings Account</h4>\
    <hr>
    <h5>Benifits</h5>
    <ul>
      <li>Lifetime Free Platinum Debit Card</li>
      <li>Free Transactions across domestic ATMs</li>
      <li>Insurance Benefits upto Rs.1.29 Cr</li>
      <li>Exclusive Loan offers</li>
    </ul>
    `;
    
  }
  $('.modal-body').html(content);
  $('#dataModal').modal('show');
});

$('#fdapply').click(function(event){
  event.preventDefault();
  data = {};
  data['loc'] = '/main/fd'
  window.location.href = "/netlogin?" +$.param(data);
});

$('.loginmain').click(function(event){
  event.preventDefault();
  data = {};
  data['loc'] = '/main'
  window.location.href = "/netlogin?" +$.param(data);
});

$('#rewardapply').click(function(event){
  event.preventDefault();
  data = {};
  data['loc'] = '/main/rewards'
  window.location.href = "/netlogin?" +$.param(data);
});

$('.cardapply').click(function(event){
  event.preventDefault();
  data = {};
  data['loc'] = '/services'
  window.location.href = "/netlogin?" +$.param(data);
});
</script>
</body>
